<ion-list class="ion-margin-top" lines="inset">
  @for (task of tasks(); track task.id) {
  <ion-item-sliding>

    <ion-item lines="full" button="true" detail="false" (click)="edit.emit(task)">

      <ion-checkbox slot="start" [checked]="task.isCompleted" (ionChange)="onToggleTask(task.id)"
        (click)="$event.stopPropagation()" color="success"
        style="--border-radius: 50%; --checkbox-background-checked: var(--ion-color-success);">
      </ion-checkbox>

      <ion-label [className]="task.isCompleted ? 'task-completed' : ''">
        <h2>{{ task.title }}</h2>
        @if (task.description) {
        <p>{{ task.description }}</p>
        }
        <ion-note color="medium" class="task-date">
          {{ task.createdAt | date:'shortTime' }}
        </ion-note>
      </ion-label>

      @if (getCategoryData(task.categoryId); as category) {
      <ion-badge slot="end" [style.--background]="category.color">
        {{ category.name }}
      </ion-badge>
      }
    </ion-item>

    <ion-item-options side="end">
      <ion-item-option color="danger" expandable (click)="onDeleteTask(task.id); $event.stopPropagation()">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-item-option>
    </ion-item-options>

  </ion-item-sliding>
  } @empty {
  <div class="ion-text-center ion-padding mode-empty-state">
    <ion-icon name="checkmark-circle-outline" color="medium" size="large"></ion-icon>
    <p>No tienes tareas que coincidan con los filtros actuales.</p>
  </div>
  }
</ion-list>